.post
    background-color: 
    height: 100%

#flux-stream
    height: 100%
    width: 100%
    left: 0
    top: 0
    overflow: auto
    position: fixed 
    background: -webkit-linear-gradient(#90caf9, #a1887f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#90caf9, #a1887f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#90caf9, #a1887f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#90caf9, #a1887f); /* Standard syntax (must be last) */     

.flux-streams-app
    height: 100%
    width: 100%
    left: 0
    top: 0
    overflow: hidden
    position: fixed
    white-space: nowrap   


.multi_post
    height : 60%
    overflow : auto

.multi_keyword
    height : 30%  
    overflow : overlay      

.input
    width : 30%   

.close
    float : right !important

.together
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5)
    height : 100%
    margin-right : 50px
    display : inline-block 
   
#postList
    padding : 15px

#keywordList
    padding : 15px

.info
    background-color : white

label
    margin-right : 10px    

input
    width : 150px !important   

.keyword-body
    background-color: white
    margin-bottom: 3px
    text-align: center
    width: 70%

.close_frame
    display: inline-block !important
    min-width: 5px
    padding: 7px 7px !important
    border-radius: 90px !important
    position: relative
    top: 7px
    float : right
